 <div>
 <h1>The Tech Blog</h1>
 </div>
 
<div>
{{#each allPost}}
   <a href="/post-detail/{{id}}"> <h3>{{title}} </h3> </a>  <p>Posted by {{user.username}} on {{date_created}}</p>
    <p>{{content}}</p>
    <hr>
{{/each}}
</div>
