<div class="bg-primary-subtle text-primary-emphasis">
 <h1> <span class="badge bg-secondary mb-3 ms-4">The Tech Blog</span></h1>
 </div>

<div class="card ms-4 mb-3 card-size">
  <div class="card-header card-title gap-3">
     <h5> {{allPost.title}}</h5><p class="text-end">Posted by {{allPost.user.username}} on {{format_date allPost.date_created}}</p>
  </div>
   <div class="card-body">
      <p>{{allPost.content}}</p>
   </div>  
</div>  
<div>
  {{#each allComments}}
  <section class="card ms-4 mb-3 card-size">
    <div class="card-header card-title">
    </div>
    <div class="card-body">
      <p>{{description}}</p>
      <p> --{{user.username}} on {{format_date date_created}}</p> 
    </div>
    
  </section>
  {{/each}}
</div>
{{#if logged_in}}
<form class="card ms-4 mb-5 pb-2 card-size">
  <div class="card-body ms-4 mb-2 pt-2">
    <h6> Leave a Comment</h6>
    <textarea class="form-control" id="comment-txtarea" name="comment-body"></textarea>
    <button class="btn btn-secondary form-control mt-3" id="add-comment" data-post-id="{{allPost.id}}" type="submit">add comment</button>
  </div>
  
</form>
<script src="/js/add-comment.js"></script>
{{/if}}
</div>